/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  gap: 30px;
}

.decor-parent {
  position: relative;
}

.decor {
  position: absolute;
  display: grid;
  pointer-events: none;
  color: var(--accent-color-2);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  line-height: var(--line-height-lg);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  inset-block-start: var(--inset);
  inset-inline-end: var(--inset);
}

.decor::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color-2);
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0px 0px 4px 2px var(--accent-color-2);
}

.decor-parent::before,
.decor-parent::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
  border-color: var(--border-decor-parent);
}

.decor-parent::before {
  inset-block-start: var(--inset);
  inset-inline-end: var(--inset);
  border-width: 1px 1px 0 0;
}

.decor-parent::after {
  inset-block-end: var(--inset);
  inset-inline-start: var(--inset);
  border-width: 0 0 1px 1px;
}

.header {
  block-size: 100dvb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  padding-block: 10px;
  padding-inline: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--menu-item-color);
  background-color: transparent;
  padding-inline: 13px;
  block-size: 26px;
  min-inline-size: 70px;
  text-transform: lowercase;
  font-size: var(--font-size-base);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-btn-border-color-active);
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: 1px solid rgba(var(--menu-btn-border-color-hover), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-btn-border-color-focus-visible);
}

.title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
  text-transform: lowercase;
  color: var(--title-header-color);
  justify-self: center;
  align-self: center;
  position: relative;
}

.title--header {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  color: var(--color-subtitle);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-md);
  font-size: var(--font-size-base);
  justify-self: center;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  gap: 50px;
  display: grid;
  padding: 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__articles {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--title-heading-color);
}

.section__title-gallery {
  color: var(--title-gallery-color);
}

.section__title,
.section__title-gallery {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__articles-heading {
  color: var(--title-heading-color);
}

.section__article-title {
  color: var(--title-article-color);
}

.section__articles-heading,
.section__article-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-md);
}

.section__article-title--light {
  font-weight: var(--font-weight-regular);
}

.section__article-text {
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
}

.link {
  text-shadow: 3px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--link-border-focus-visible);
}

.section-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section-gallery__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100dvb;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.title--footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
  }

  .title--header {
    justify-self: start;
    grid-column: 1 / 3;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__subtitle {
    grid-column: 2 / 3;
  }

  .content {
    gap: 80px;
    padding-inline: 20px;
    padding-block: 30px;
  }

  .section__articles {
    gap: 20px;
  }

  .section--2-cols {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section--3-cols {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }

  .section--3-cols .section__title {
    grid-column: 1 / 2;
  }

  .section--3-cols .section__articles {
    grid-column: 1 / -1;
  }

  .section-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title title title"
      "a a b"
      "c d b"
      "c e e";
  }

  .section__title-gallery--grid-area {
    grid-area: title;
  }

  .section-gallery__img:nth-child(2) {
    grid-area: a;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .section-gallery__img:nth-child(3) {
    grid-area: b;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .section-gallery__img:nth-child(4) {
    grid-area: c;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .section-gallery__img:nth-child(5) {
    grid-area: d;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .section-gallery__img:nth-child(6) {
    grid-area: e;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section--2-cols {
    gap: 10px;
  }

  .section__articles--contents {
    display: contents;
  }

  .section__article--grid-3:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .section__article--grid-3:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .section__article--grid-3:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .title--footer {
    inset-inline-start: 0;
    text-shadow: 2px 2px 0 var(--accent-color-2);
  }
}
